{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %} 
<div class="container_registration-user">

<h1 class="register--title">S'inscrire à Ludo'Take !</h1>

{# <div class="div-Register--Form">
    <form class="register--Form stepOne">
        <p class="mail--Registration form--Step_One"><input type="mail" name="e-mail" placeholder="E-mail" /></p>
        <p class="password--Registration form--Step_One"><input type="password" name="mot de passe" placeholder="Mot de passe" /></p>
        <p class="password--Verification form--Step_One"><input type="password" name="mot de passe check" placeholder="Vérification mot de passe" /></p>
        <button class="form--Validation" type="submit">Valider</button>
    </form>
</div>
</div> #}
<div class="all_form">
    {{ form_start(userForm) }}

        <div class="mail_form all_input--form ">
        {{ form_row(userForm.email, {
            attr:{placeholder:'Adresse Mail'},
            label: ' '
        }) }}
        </div>

        <div class="pass_form all_input--form">
        {{ form_row(userForm.plainPassword, {
            attr:{placeholder:'Mot de passe'},
            label: ' '
            }) }}
        </div>

        <div class="road_form all_input--form">
        {{ form_row(userForm.address_road, {
            attr:{placeholder:'Rue'},
            label: ' '
        }) }}
        </div>

        <div class="number_form all_input--form">
        {{ form_row(userForm.address_number, {
            attr:{placeholder:'Numéro de rue'},
            label: ' '
        }) }}
        </div>

        <div class="zip_form all_input--form">
        {{ form_row(userForm.address_zip_code, {
            attr:{placeholder:'Code postal'},
            label: ' '
        }) }}
        </div>

        <div class="city_form all_input--form">
        {{ form_row(userForm.address_city, {
            attr:{placeholder:'Ville'},
            label: ' '
        }) }}
        </div>

        <div class="submit_form all_input--form">
        {{ form_row(userForm.submit, {
                label: 'Validé'
        }) }}
        </div>
</div>

{% endblock %}