{% extends 'base.html.twig' %}

{% set inChest = 0 %}

{% block title %}{{parent()}} - Coffre{% endblock %}

{% block body %}

<main class="chest">
    <section class="chest__section__title">
        <h1>Bienvenue dans votre coffre</h1>
        <p>C'est ici que vous pouvez voir les jeux en votre possession, vous pouvez choisir de nous les retourner.</p>
    </section>

    <section class="chest__section">
        <div class="chest-table">
            <div class="chest-table__title">
                <h2>Votre coffre</h2>
            </div>
            <div class="chest-table__content">
                <div class="chest-table__row chest-table__row--head">
                    {# <div class="chest-table__row__col__info"> #}
                        <div class="chest-table__row__col chest-table__row__col--head">jeux</div>
                        <div class="chest-table__row__col chest-table__row__col--head">date de location</div>
                        <div class="chest-table__row__col chest-table__row__col--head">statut</div>
                        <div class="chest-table__row__col chest-table__row__col--head">option</div>
                    {# </div> #}
                </div>
                {% for order in app.user.orders|reverse %}
                    {% if order.status == 2 %}
                        {% set inChest = inChest + 1 %}
                        <div class="chest-table__row chest-table__row--{% if inChest is odd %}odd{% else %}pair{% endif %}">
                            {# <div class="chest-table__row__col__info"> #}
                                <div class="chest-table__row__col">
                                    <img class="chest-table__row__col__image" src="{{order.games.images}}" alt="">
                                    <p class="chest-table__row__col__p">{{order.games.name}}</p>
                                </div>
                                <div class="chest-table__row__col">{{order.dateCommand|date("d/m/Y")}}</div>
                                <div class="chest-table__row__col">Dans le coffre</div>
                            {# </div> #}
                            <div class="chest-table__row__col ">
                                <div class="button button__principal chest-table__row__col__button" data-game-id="{{order.games.id}}">Retourner</div>
                            </div>
                        </div>
                    {% endif %}    
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="chest__section">
        <form class="chest__section__form--return" action="" method="POST">
            <div>
                <div class="return-table">
                    <div class="return-table__title">
                        <div>
                            <h3>En attente de retour</h3>
                        </div>
                    </div>
                    <div class="return-table__content">
                        <div class="return-table__row return-table__row--head">
                            <div class="return-table__row__col return-table__row__col--row">jeux</div>
                            <div class="return-table__row__col return-table__row__col--row return-table__row__col--hidden-resp">option</div>
                        </div>
                        <input type="checkbox" name="returnForm" id="returnForm" class="checkbox--hiden" checked>
                        {# create by public/chest.js (exemple) #}
                        {# <div class="table__row table__row--odd">
                            <input type="checkbox" name="" id="" class="checkbox--hiden" checked>
                            <div class="table__row__col">Jeux</div>
                            <div class="table__row__col">bouton</div>
                        </div> #}
                    </div>
                </div>
                <input type="submit" value="Imprimer le bon de retour" class="button button__principal">
            </div>
        </form>    
        <form class="chest__section__form--command" action="" method="POST">
            <div class="chest__section__table_info">
                <div class="command-table">
                    <div class="command-table__title">
                        <tr>
                            <th colspan="2">Liste de commande</th>
                        </tr>
                    </div>
                    <div class="command-table__content">
                        <div class="command-table__content__ship">
                            <div class="command-table__content__ship__head">
                                <p>prochain envoi</p>
                                <p>plus tard</p>
                            </div>
                            <input type="checkbox" name="commandForm" id="commandForm" class="checkbox--hiden" checked>
                            {% for order in app.user.orders %}
                                {% if order.status == 1 %}
                                    {% set inChest = inChest + 1 %}
                                    <div class="command-table__content__ship__flip">
                                        <div class="button__switch-checkbox__parent">
                                            <input type="checkbox" name="{{order.games.id}}" id="{{order.games.slug}}" class="button__checkbox hidden" checked>
                                            <label class="button button__principal button__switch-checkbox" for="{{order.games.slug}}">
                                                <img class="button__flip__image" src="{{order.games.images}}" alt="">
                                                <p>{{order.games.name}}</p>
                                                <a class="button__switch-checkbox--delete" href="{{ path('order_delete', {'id' : order.games.id}) }}">🗑️</a>
                                            </label>
                                        </div>    
                                    </div>
                                {% endif %}    
                            {% endfor %}
                        </div>
                        <div class="command-table__content__info">
                            <p class="command-table__content__info__row">prochaine commande</p>
                            <p class="command-table__content__info__row">01/01/2022</p>
                            <p class="command-table__content__info__row">nombre de jeux</p>
                            <p class="command-table__content__info__row"> <em class="command-table__info__chest command-table__info__chest--{% if inChest <= 7 %}valid{% else %}unvalid{% endif %}">{{inChest}}</em>/7</p>
                        </div>
                        
                    </div>   
                </div>
                <input type="submit" value="commander" class="button button__principal">
            </div>
        </form>
    </section>
    
    <section class="chest__section">
        <table class="table">
            <thead class="table__title">
                <tr>
                    <th colspan="3">Les retours</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table__head">
                    <td class="table__head__col">nom</td>
                    <td class="table__head__col">date de retour</td>
                    <td class="table__head__col">statut</td>
                </tr>
                {% for order in app.user.orders|reverse %}
                    {% if order.status == 3 %}
                        <tr class="table__row table__row--{% if loop.index is odd %}odd{% else %}pair{% endif %}">
                            <td class="table__row__col">{{order.games.name}}</td>
                            <td class="table__row__col">{{order.dateReturn|date("d/m/Y")}}</td>
                            <td class="table__row__col">En attente de réception</td>
                        </tr>
                    {% endif %}    
                {% endfor %}
            </tbody>
        </table>
    </section>

</main>
{% endblock %}
{% block javascripts %} 
    <script src="{{ asset('js/chest.js') }}"></script> 
    <script src="{{ asset('js/flip.js') }}"></script> 
{% endblock %}