{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="connection__form">
        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecter {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecté</a>
                </div>
            {% endif %}

            <h1 class="titre__connexion">Connectez vous à Ludo'Take !</h1>
            <label class="box__mail", for="inputEmail">Adresse email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label class="box__password",for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
                
            <button class="button" type="submit">
                Se connecter
            </button>

           <button class="button" type="submit">
                Retour à l'accueil
            </button>

             <button class="button" type="submit">
                s'inscrire
            </button>

        </form>
    </div>
</section>
{% endblock %}
