<header class="header">
	<div class="header__head">
		<a href="{{ path('home_index') }}">
			<h1 class="header__head__title">Lud O'thèque</h1>
		</a>
	</div>
	<div class="header__separate">
		<div class="header__separate__line"></div>
	</div>
	<nav class="header__navigation">

		<input type="checkbox" name="burger-menu" id="burger-menu" class="burger__checkbox">
		<label class="burger" for="burger-menu">
			<div class="burger__line burger__line1"></div>
			<div class="burger__line burger__line2"></div>
			<div class="burger__line burger__line3"></div>
		</label>
		<ul class="header__navigation__list">
			{% if is_granted('ROLE_USER') %}

				{# <li class="button__arround"><a class="button button--nav {{(app.request.get('_route') is same as 'fav_index') ? 'button--active' : '' }}" href="#">Favoris</a></li> #}
				<li class="button__arround">
					<a class="button button--nav {{(app.request.get('_route') is same as 'game_index') ? 'button--active' : '' }}" href="{{ path('game_index') }}">Liste des jeux</a>
				</li>
				<li
					class="button__arround">
					{# <div class="search-box">
					                        <input class="s-box" type="text" name="search" placeholder="Type keyword">
					                        <a class="s-btn" href=" {{path('search_index')}} ">
					                        <i class="fab fa-searchengin"></i>
					                        </a>
					                    </div> #}
					<form class="search-box" action="{{ path('search_index') }}">
						<input class="s-box" type="search" placeholder="Ex : Monopoly" aria-label="Search" name="search">
						<button class="s-btn" type="submit">GO</button>
						{# <i class="fab fa-searchengin"></i> #}
					</form>
				</li>
				<li class="button__arround">
					<a class="button button--nav {{(app.request.get('_route') is same as 'chest_index') ? 'button--active' : '' }}" href="{{ path('chest_index') }}">Coffre</a>
				</li>
				<li class="button__arround">
					<a class="button button--nav {{(app.request.get('_route') is same as 'user_index') ? 'button--active' : '' }}" href="{{ path('user_index') }}">Profil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}

					<li class="button__arround">
						<a class="button button--nav" href="{{ path('backoffice_index') }}">Backoffice</a>
					</li>

				{% endif %}

				<li class="button__arround button__arround--log-in-out">
					<a class="button button--log-in-out header__head__button header__head__button--log-in-out" href="{{ path('app_logout') }}">Me déconnecter</a>
				</li>

			{% else %}

				<li class="button__arround">
					<a class="button button__principal header__navigation__list__button header__navigation__list__button--signin" href="{{ path('register') }}">S'inscrire</a>
				</li>
				<li class="button__arround">
					<a class="button button--nav header__navigation__list__button header__navigation__list__button--1" href="{{ path('home_index') }}#concept">Le concept</a>
				</li>
				<li class="button__arround">
					<a class="button button--nav header__navigation__list__button header__navigation__list__button--2" href="{{ path('home_index') }}#games">Nos jeux</a>
				</li>
				<li class="button__arround">
					<a class="button button--nav header__navigation__list__button header__navigation__list__button--5" href="{{ path('home_index') }}#offers">Nos offres</a>
				</li>
				<li class="button__arround">
					<a class="button button--nav header__navigation__list__button header__navigation__list__button--faq" href="{{ path('home_index') }}#faq">FAQ</a>
				</li>
				<li class="button__arround button__arround--log-in-out">
					<a class="button button--log-in-out header__head__button header__head__button--log-in-out" href="{{ path('app_login') }}">Me connecter</a>
				</li>

			{% endif %}
		</ul>

	</nav>
</header>
