{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="backoffice__form">
        <form class="form__categories" method="POST">
            {% for game in gameList %}
                {% for categoryGame in game.category %}
                    {% if categoryGame.name == category.name %}
                        <input class="hidden form__categories__input" type="checkbox" name="{{ game.id }}" id="{{ game.id ~ "-first" }}" value="off" checked>
                    {% endif %}
                {% endfor %}
                <input class="hidden form__categories__input" type="checkbox" name="{{ game.id }}" id="{{ game.id }}"
                    {% for categoryGame in game.category %}
                        {{ (categoryGame.name == category.name) ? "checked" : "" }}
                    {% endfor %}
                >  
                <label class="form__categories__label" for="{{ game.id }}">
                    <img class="form__categories__image"  src="{{ game.images }}" alt="">
                    <p class="form__categories__text">{{ game.name}}</p>
                </label>              
            {% endfor %}
            <input type="hidden" name="token" value="{{ csrf_token('csurf' ~ category.id) }}"/>
            <button class="button button__principal">Validée la selection</button>
        </form>
    </div>
    <a class="button button__return" href="{{path('backoffice_category_index')}}">Retour à la liste</a>
{% endblock %}

