{% extends 'base.html.twig' %}

{% block title %}jeux{% endblock %}

{% block body %}

    <main class="backoffice">
        {# <section class="backoffice__section__title">
            <h1>Bienvenue sur la partie jeu</h1>
            <p>Ici tu pourras voir la liste complète des jeux existantes, les modifiers et les supprimer.</p>
        </section> #}
        
        <div class="backoffice-table">
            <div class="backoffice-table__content">
                {# <div class="backoffice-table__row backoffice-table__row--head">
                    <h3 class="backoffice-table__row__col backoffice-table__row__col--head">Nom</h3>
                    <h3 class="backoffice-table__row__col backoffice-table__row__col--head">Option</h3>
                </div> #}
                {% for user in users|reverse %}
                    <div class="backoffice-table__row backoffice-table__row--{% if loop.index is odd %}odd{% else %}pair{% endif %}">
                        <div class="backoffice-table__row__col">{{user.id}}</div>
                        <div class="backoffice-table__row__col">{{user.lastname}} {{user.firstname}}</div>
                        <div class="backoffice-table__row__col">{{user.addressNumber}} {{user.addressRoad}} {{user.addressZipCode}} {{user.addressCity}}</div>
                        <div class="backoffice-table__row__col">{{user.email}}</div>
                        <div class="backoffice-table__row__col backoffice-table__role">
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %} <div> Utilisateur </div> {% endif %}
                                {% if role == "ROLE_ADMIN" %} <div> Admin </div> {% endif %}
                                {% if role == "ROLE_SUPER_ADMIN" %} <div> Super admin </div> {% endif %}
                            {% endfor %}
                        </div>
                        <div class="backoffice-table__row__col">{{user.status}}</div>
                        <div class="backoffice-table__row__col">
                            <a class="button button__principal backoffice-table__row__col__button" href="{{ path('backoffice_user_update', {'id': user.id}) }}">Editer</a>
                            <form method="post" action="{{ path('backoffice_user_delete', {'id': user.id}) }}">
                                <input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}"/>
                                <button class="button button__delete backoffice-table__row__col__button" type="submit">Supprimer</button>
                            </form> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
