<main>
    <section class="home__user">
        <h1 class="home__user__title">Bienvenue sur Lud O'thèque</h1>

        <p class="home__user__p">Votre aventure commence ici, elle sera faite de bonheurs, de partages et de franches rigolades!</p>
        <hr class="home__user__hr">
    </section>
    <section class="container__slider">
        <div class="slider">
            {% for game in games|slice(0,10) %}
                <a href="{{ path('game_slug', {'slug' : game.slug}) }}"><img src="{{game.images}}" alt="boite du jeu {{game.name}}" class="img__slider active"></a>
            {% endfor %}
            {# <a href="#"><img src="img/clank.jpg" alt="boite du jeu clank" class="img__slider active"></a>
            <a href="#"><img src="img/concept.jpg" alt="boite du jeu concept" class="img__slider"></a>
            <a href="#"><img src="img/galerapagos.jpg" alt="boite du jeu galerapagos" class="img__slider"></a>
            <a href="#"><img src="img/sheriff-of-nottingham.jpg" alt="boite du jeu sheriff de nottingham" class="img__slider"></a>
            <a href="#"><img src="img/tsunami-island.jpg" alt="boite du jeu tsunami island" class="img__slider"></a> #}

            <div class="next-btn">
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="previous-btn">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </section>

     {# end container of carousel #}
     {# start category #}
    <section class="category-games__container">
        <div class="category-games">

            {% for currentCategory in category|slice(0,3) %}
                    <a class="button button__principal" href="{{ path('game_indexByCategory', {id:currentCategory.id} ) }}">{{ currentCategory.name }}</a>
            {% endfor %}

        </div>
    </section>

    {# Start crush card  #}



{# end crush card #}
{# start crush card second test #} 
        <h1 class="home__user__title">Nos coups de coeur</h1>
        <section class="crush">
            <a href="#" class="crush__card">
                <img src="img/clank.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">est un jeu suprenant.
                    Les auteurs ont su reprendre avec humour le mécanisme de deckbuilding. La partie avec les pions clank est d'un très grand intérêt dans les sensations de jeux, même si l'aléatoire du tirage est parfois injuste. Mais on pardonne cet alea car le jeu ne dure pas très longtemps et le fun est toujours là.</p>
                <p class="crush__card__admin-name"><em>Mehdi vous le conseille vivement!</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Sheriff de Nottingham</h3>
                <p  class="crush__card__description">est un jeu de bluff et de négociation (surtout lorsque votre bluff est un échec) où les joueurs vont tenter de faire passer en sus de leurs marchandises légales des produits de contrebande à destination du marché de la ville. Attention, votre soirée entre amis peut vite dégénérer!</p>
                <p class="crush__card__admin-name"><em>Une pépite pour Romain!</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/tsunami-island.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Tsunami Island</h3>
                <p  class="crush__card__description">Quand on dit « Battle Royale » certains cinéphiles pensent au film japonais du même nom, précurseur du genre… mais la plupart des gens associe ce terme au jeu vidéo bien sûr. On pense à Fortnite, PUBG, Warzone et j’en passe… Au final Tsunami Island Battle Royale est un jeu d’action simple et addictif, accessible à tous et qui propose une jolie finition. Le jeu est agréable à l’oeil et le concept efficace. Les fans de jeux video du même genre s’y retrouveront tandis que les autres adhéreront sans problème au principe. Une belle surprise!</p>
                <p class="crush__card__admin-name"><em>Sinan ne peut plus s'en passer!</em></p>
            </a>
        </section>
        {# {{ dump(categoryList[0].games[0].name) }}
{% for game in categoryList[0] %}    
    {{ dump('game') }}
{% endfor %} #}
        
        {% for numberLoop in 0..3 %}
            <section class="carousel">
            
                <div class="carousel__arrow carousel__arrow--previous carousel{{numberLoop}}__arrow--previous"><</div>
                <div class="carousel__window">
                <h3 class="carousel__title">{{categoryList[numberLoop].name}}</h3>
                    <div class="carousel__window__slider carousel{{numberLoop}}__window__slider">
                        {% for game in categoryList[numberLoop].games|slice(0,10) %}
                            
                            <div class="carousel__window__slider__card">
                                <div class="carousel__window__card carousel{{numberLoop}}__window__card">
                                    <a class="carousel__window__card__link" href="{{ path('game_slug', {'slug' : game.slug}) }}">
                                        <img class="image carousel__window__card__image" src="{{ game.images }}" alt="boite du jeux {{game.name}}">
                                        <h3 class="carousel__window__card__title" class="crush__card__title">{{game.name}}</h3>
                                    </a>
                                    {% set gameOnChest = false %}
                                    {% for order in app.user.orders %}
                                        {% if order.games == game and order.status <= 1 %}
                                            {% set gameOnChest = true %}            
                                        {% endif %}
                                    {% endfor %}
                                    {% if gameOnChest %}
                                        <a class="button button__secondary" href="{{ path('order_delete', {'id' : game.id}) }}">retirer</a>
                                    {% else %}
                                        <a class="button button__principal" href="{{ path('order_new', {'id' : game.id}) }}">ajouter</a> 
                                    {% endif %}
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--next carousel{{numberLoop}}__arrow--next">></div>
            </section>
        {% endfor %}    
{# end carousel secondary #}

</main>