<main>
    <section class="first__section">
        <h1>Bienvenue sur Lud O'thèque</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium totam praesentium aspernatur mollitia quaerat est tempora possimus quidem laudantium, laboriosam incidunt dolor culpa expedita cumque atque fuga sunt eligendi. Magni vitae ipsam unde harum dolore perferendis, facilis ratione ad voluptatibus aliquam fugiat. Hic quisquam commodi maxime officiis laboriosam illo cumque exercitationem consequuntur tenetur! Pariatur, optio tempore? Eaque illum officiis ullam ea, quasi accusantium neque ipsam, laudantium suscipit temporibus amet, error unde excepturi exercitationem qui sunt aperiam incidunt libero sed minus. Facilis quibusdam suscipit quis molestiae velit voluptates amet expedita quam dolorem dicta, beatae nulla harum, nisi mollitia maxime.</p>
    </section>
    <section class="container__slider">
        <div class="slider">
            {% for game in games|slice(0,10) %}
                <a href="#"><img src="{{game.images}}" alt="boite du jeu {{game.name}}" class="img__slider active"></a>
            {% endfor %}
            <a href="#"><img src="img/clank.jpg" alt="boite du jeu clank" class="img__slider active"></a>
            <a href="#"><img src="img/concept.jpg" alt="boite du jeu concept" class="img__slider"></a>
            <a href="#"><img src="img/galerapagos.jpg" alt="boite du jeu galerapagos" class="img__slider"></a>
            <a href="#"><img src="img/sheriff-of-nottingham.jpg" alt="boite du jeu sheriff de nottingham" class="img__slider"></a>
            <a href="#"><img src="img/tsunami-island.jpg" alt="boite du jeu tsunami island" class="img__slider"></a>

            <div class="next">
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="previous">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </section>

     {# end container of carousel #}
     {# start category #}
    <section class="container category-games__container">
        <ul class="category-games">
            <a class="button button--category category-games__button" href="#"><li class="">Cat1</li></a>
            <a class="button button--category category-games__button" href="#"><li class="">Cat2</li></a>
            <a class="button button--category category-games__button" href="#"><li class="">Cat3</li></a>
        </ul>
    </section>

    {# Start crush card  #}



{# end crush card #}
{# start crush card second test #} 
        <h1>Nos coups de coeur</h1>
        <section class="crush">
            <a href="#" class="crush__card">
                <img src="img/clank.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/tsunami-island.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
        </section>

        <section class="carousel">
            <div class="carousel__arrow carousel__arrow--previous"><</div>
            <div class="carousel__window">
                <div class="carousel__window__slider">
                    {% for game in games|slice(0,10) %}
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="{{ game.images }}" alt="boite du jeux {{game.name}}">
                                <h3 class="carousel__window__card__title" class="crush__card__title">{{game.name}}</h3>
                                    {% set gameOnChest = false %}
                                    {% for order in app.user.orders %}
                                        {% if order.games == game and order.status <= 1 %}
                                            {% set gameOnChest = true %}            
                                        {% endif %}
                                    {% endfor %}
                                    {% if gameOnChest %}
                                        <a class="button button__home button__home--delete-chest" href="{{ path('order_delete', {'id' : game.id}) }}">retirer</a>
                                    {% else %}
                                        <a class="button button__home button__home--add-chest" href="{{ path('order_new', {'id' : game.id}) }}">ajouter</a> 
                                    {% endif %}
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel__arrow carousel__arrow--next">></div>
        </section>
{# end carousel secondary #}

</main>