{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
  <h2>Edition d'un jeu</h2>
        {{form_start(formView)}}
            <div class="input-text__row">
                {{ form_widget(formView.name) }}
                {{ form_label(formView.name) }}
            </div>    
            <input type="hidden" name="token" value="{{ csrf_token('add') }}"/>
            <button class="button button__principal">Editer</button>
        {{form_end(formView)}}
        <a class="button button__return" href="{{path('backoffice_game_index')}}">Retour à la liste</a>
{% endblock %}

