{% extends 'base.html.twig' %}

{% block title %}Voici notre liste complète de jeux !{% endblock %}

{% block body %}
<div class="container--game">
    <div class="left--content">
        <div class="categories">
            <div class="block_content">
                <ul >

                

                    <li><a href=" {{ path('game_indexByCategory', {id:3} ) }}" class="buttonCategory">Jeux d'ambiance</a></li>
                    <li><a href="{{ path('game_indexByCategory', {id:4} ) }}" class="buttonCategory">Jeux en famille</a></li>
                    <li><a href="{{ path('game_indexByCategory', {id:6} ) }}" class="buttonCategory">Jeux expert</a></li>
                    <li><a href="{{ path('game_indexByCategory', {id:1} ) }}" class="buttonCategory">Jeux coopératifs</a></li>
                    <li><a href="{{ path('game_indexByCategory', {id:5} ) }}" class="buttonCategory">Jeux escape</a></li>
                    <li><a href="{{ path('game_indexByCategory', {id:2} ) }}" class="buttonCategory">Jeux à deux</a></li>
                
                

                </ul>
            </div>
        </div>

        <div class="subcategory">
            <div class="block_content">
                
                    <h4 class="number__players">nombre de joueurs</h4>

                    <ul>
                        <li><a href="{{ path('game_indexByPlayers', {string:'2 joueur(s)'}) }}" class="buttonCategory">2 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'1 à 4 joueur(s)'}) }}" class="buttonCategory">1 à 4 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'1 à 5 joueur(s)'}) }}" class="buttonCategory">1 à 5 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'2 à 4 joueur(s)'}) }}" class="buttonCategory">2 à 4 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'2 à 5 joueur(s)'}) }}" class="buttonCategory">2 à 5 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'2 à 6 joueur(s)'}) }}" class="buttonCategory">2 à 6 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'2 à 8 joueur(s)'}) }}" class="buttonCategory">2 à 8 joueurs</a></li>

                       <li><a href="{{ path('game_indexByPlayers', {string:'2 à Plus de 10 joueurs'}) }}" class="buttonCategory">2 à 10 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'3 à 6 joueur(s)'}) }}" class="buttonCategory">3 à 6 joueurs</a></li>

                        <li><a href="{{ path('game_indexByPlayers', {string:'4 à 10 joueur(s)'}) }}" class="buttonCategory">4 à 10 joueurs</a></li>

                    </ul>
            </div>
        </div>
        {# <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p> #}
    </div>

    <div class="right--content">
        <ul class="gallery__game">

            {% for currentGamesList in gamesList %}

            <li class="gallery__game--table">
                <div class="gallery__game--list">
                    <div class="gallery__image__game--list game--content">
                        <a href="#" class="gallery__link__game--list">
                        <img src="{{ currentGamesList.images }}" alt="Portrait by Jessica Felicio" class="gallery__image__game">
                        </a>
                    </div>
                    <div class="gallery__name__game--list game--content">
                        <a href="#" class="gallery__link__game--list">
                        <p class="gallery__name--game"><span class="span__title--game">{{ currentGamesList.name }}</span></p>
                        </a>
                        <p class="descr__game">{{ currentGamesList.description[0:200] }}...</p>
                            <p class="nbr--player__game">
                                {{ currentGamesList.players}}
                            </p>
                            <p class="time__game">
                                {{currentGamesList.timeOf}}
                            </p>
                    </div>
                    <div class="gallery__button--game game--content">
                        <div class="button__game">
                            <a href="{{ path('game_slug', {'slug': currentGamesList.slug}) }}"><button class="clk--button">En savoir plus</button></a>
                            <a href="{{ path('order_new', {'id' : currentGamesList.id}) }}"><button class="clk--button">Ajouter au panier</button></a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ knp_pagination_render(gamesList) }}
{% endblock %}